<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="xxpha.oracle.apps.icx.sn1041.poplist.server" >
   <DesignTime>
      <Attr Name="_ejbPackage" Value="false" />
      <Attr Name="_version" Value="10.1.3.43.6" />
   </DesignTime>
   <Containee
      Name="StoreListVO"
      FullName="xxpha.oracle.apps.icx.sn1041.poplist.server.StoreListVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
